:root {
  --primary: #ff6464;
  --secondary: #00a8cc;
  --dark: #21243d;
  --light: #8695a4;
  --light2: #edf7fa;
  --light3: #e0e0e0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font_regular);
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}
.head {
  color: #7956d2;
}
h5 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 3.75rem;
  font-weight: 400;
}

@media (min-width: 50rem) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.875rem;
  }
}
@media (min-width: 56.25rem) {
  button {
    font-size: 1.25rem;
  }
}
@media (min-width: 62.5rem) {
}

@media (min-width: 75rem) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.4;
    width: 40vw;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}
